@font-face {
  font-family: 'Benzin-Semibold';
  src: local('Benzin-Semibold'), local('Benzin-Semibold'),
  url('Benzin-Semibold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Benzin-Bold';
  src: local('Benzin-Bold'), local('Benzin-Bold'),
  url('Benzin-Bold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Benzin-Regular';
  src: local('Benzin-Regular'), local('Benzin-Regular'),
  url('Benzin-Regular.ttf') format('truetype');
  font-weight: 400;
}