@mixin title {
  font-family: Benzin-Semibold, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
  span{
    background-image: linear-gradient(to right, #ff00cc, #a044ff);
    background-clip: text;
    color: transparent;
  }
}

@mixin header { 
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
  
    &__logo > img{
      height: 89px;
      width: 190px;
    }
  
    &__list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  
      :last-child{
      margin-right: 0;
        margin-left: 20px;
  
      ::before{
        content: "";
        background-image: url("../../img/icons/user.png");
        width: 28px;
        height: 28px;
        background-size: 28px 28px;
        position: absolute;
        right: 100%;
        bottom: 0;
        display: block;
        margin-right: 4px;
        margin-bottom: -2px;
      }
    }
  
      a{
        font-family: Benzin-Regular, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        text-transform: none;
        margin-left: 0;
      }
  
      a:last-child {
        display: flex;
        align-items: center;
        margin-left: 0;
          img {
          width: 28px;
          height: 28px;
          }
      }
      li{
        margin-right: 41px;
        position: relative;
        padding-bottom: 5px;
        margin-left: 0;
          ::after{
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          display: block;
          background-image: $gradient;
          background-size: 0 100%
        }
  
        :hover::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          display: block;
          animation: gradientAnimation 0.6s forwards;
          }
  
      }
  
      @keyframes gradientAnimation {
        from{
          width: 0;
        }
        to {
          background-size: 100% 100%;
          width: 100%;
        }
      }
    }
  }
  
}

@mixin footer{
  .footer{
    &wrapper{
      height: 150px;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &logo{
      width: 190px;
      height: 89px;
    }
    &content{
      width: 250px;
      display: flex;
      justify-content: space-between;
    }
    &descr{
      display: inline;
      font-family: Benzin-Regular;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: white;
    }
    &element{
      display: flex;
      align-items: center;
      justify-self: center;
      text-decoration: none;
      a{
        text-decoration: none;
      }
    }
    &text{
      font-family: Benzin-Regular, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: white;
      text-decoration: none;
    }
  }
}