@mixin title {
  font-family: Benzin-Semibold, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
  span{
    background-image: linear-gradient(to right, #ff00cc, #a044ff);
    background-clip: text;
    color: transparent;
  }
}



