//Layout

$containerWidth: 1432px;
$containerPadding: 17px;

$bgColor: #EEBA9C66;
$firstColor: #446381;
$secondColor: #EB8382;
$thirdColor: #826F8C;

;


//breakPoints

$breakPoint1450: 1449.98px;
$breakPoint992: 991.98px;
$breakPoint768: 767.98px;
$breakPoint480: 479.98px;

//burgerMenu

$burgerBreakPoint: $breakPoint768;
$burgerColor: white;


