//Layout

$containerWidth: 1432px;
$containerPadding: 17px;

$bgColor: #180f1a;
$gradient: linear-gradient(to right, #ff00cc, #a044ff);
$secondColor: #EB8382;
$thirdColor: #826F8C;

;


//breakPoints

$breakPoint1450: 1449.98px;
$breakPoint992: 991.98px;
$breakPoint768: 767.98px;
$breakPoint480: 479.98px;

//burgerMenu

$burgerBreakPoint: $breakPoint768;
$burgerColor: white;


